<nav class="navbar navbar-dark bg-primary">
  <a class ="navbar-brand" href="/">
    Angular Single CRUD
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li *ngFor="let employee of employeeArray" class="list-group-item list-group-item-action" (click)="openForEdit(employee)" 
        [class.active]="employee === selectedEmployee">
          <span class="badge badge-primary">{{ employee.id }}</span> {{ employee.name }} - {{ employee.country }} 
          - {{ employee.email }} - {{ employee.phone }} 
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insert a new employees
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Insert a Name" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.country" placeholder="Insert a Coutry" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.email" placeholder="Insert a Email" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.phone" placeholder="Insert a Phone" class="form-control">
            </div>
            <button (click)="addOrEdit()" class="btn btn-primary">
              Submit
            </button>

            <button *ngIf="selectedEmployee.id !== 0" (click)="delete()" class="btn btn-danger">
                Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-mt-8">
      <img width="200" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Angular Logo">
    </div>
  </div>
</div>


 
<div *ngFor="let employee of employees">
      <h3>{{employee.body}} hola</h3>
      <p>{{employee.country}}</p>
    </div>